---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import { Image } from "astro:assets";
---

<BaseLayout sideBarActiveItemID="about_me">
  <div class="pb-12 mt-5">
  <div class="text-xl py-1"><b>Ibrahim E. Mohamed 🇪🇬🇺🇸🏀</b></div>
    <div class="py-2">
      <text class="text-lg">
      Hey, welcome to my website! I’m a data engineer at Acorns and located in the D.C. area. 
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
      I enjoy solving complex problems that reveal the deep, inner workings of the universe, 
      especially when doing the impossible like assessing human behavior and the forces underlying our decisions. 
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Before coming back to the D.C. area, I was a student at the University of Chicago, where I majored in math and took a wide variety of classes in computer science. I realized throughout college that I enjoyed solving problems outside the scope of pure math and inside the scope of applied CS. I also came to understand that producers, ranging from your local shop to big corporations, can only benefit consumers if they leverage the right data to make the right insights. I gravitated toward data-driven roles and found data engineering to have unique problems that required wearing many interesting hats. 
      </text>
      {
    <container class="flex">
      <Image
        src={"/profile_1.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-10"
      />
      </container>
    }
    </div>
    <div class="py-2">
      <text class="text-lg">
        My switch from math to computer science also stems from my three internships at Microsoft Whiteboard, where I worked on enhancing the product's canvas and backend integration with Microsoft Teams. I was responsible for leveraging complicated affine transformations to develop a proper outline of the board's geometry feature, which further exposed me to the full-stack mindset when solving problems in software engineering. I also developed a feature to significantly simplify the workflow for Whiteboard users that came from Teams.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        My interests do not stop at STEM, however, and often expand into topics in philosophy; public transit; constitutional law; history of all sorts; business management; and political theory. When I'm not at work, you'll see me playing basketball, reading anything I can get my hands on, learning languages, listening to Arabic music, writing, or volunteering.
      </text>
    </div>

  </div>

  <div class="divider my-0"></div>
  {
    <container class="flex">
      <Image
        src={"/profile_1.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-10"
      />
      <Image
        src={"/profile_2.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-10"
      />
      <Image
        src={"/profile_3.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-10"
      />
    </container>
  }
</BaseLayout>
