---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import PhotoGallery from "../components/PhotoGallery.astro";
import '../styles/cooking.css';
---

<BaseLayout sideBarActiveItemID="cooking">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1"><b>My Journey With Cooking</b></div>
    <div class="py-2">
      <text class="text-lg">
        I got into cooking in 2022 and really enjoyed learning the techniques
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Hey, welcome to my website! I’m a data engineer at Acorns and located in the D.C. area. 
      </text>
    </div>  
    <div class="py-2">
      <text class="text-lg">
        Don't let my poor photography fool you
      </text>
    </div>
    <div class="divider my-0"></div>
  </div>
  
  <PhotoGallery
    images={[
      { src: '/food_1.webp', name: 'Astro Photo 1' },
      { src: '/food_2.webp', name: 'Astro Photo 2' },
      { src: '/food_3.webp', name: 'Astro Photo 3' },
      { src: '/food_4.webp', name: 'Astro Photo 4' },
      { src: '/food_5.webp', name: 'Astro Photo 5' },
      { src: '/food_6.webp', name: 'Astro Photo 6' },
    ]}
  />
</BaseLayout>
