---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 1);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
  <div class="text-xl py-1"><b>Ibrahim E. Mohamed</b></div>
    <div class="py-2">
      <text class="text-lg">
      Hey, welcome to my website! I’m a data engineer at Acorns and located in the D.C. area. 
      </text>
      </div>
      <div class="py-2">
      <text class="text-lg">
      My goal is to build software that benefits peoples' lives, where we can leave time for everyone 
      to spend with their loved ones and pursue their creative interests. 
      I enjoy solving complex problems that reveal the deep inner workings of the universe and 
      doing the impossible when assessing human behavior.
      </text>
      </div>
    <div class="py-2">
      <text class="text-lg">
      Before coming back to the D.C. area, I was a student at the University of Chicago. I majored in math and took a variety of computer science classes. As I exposed myself to topics in computer science, I realized that I enjoyed solving problems outside the scope of pure math and inside the scopes of applied CS. I also came to understand that producers, ranging from your local shop to big corporations, can only benefit consumers if they leverage the right data to make the right insights. I gravitated towards data-driven roles and found data engineering to have unique problems that required wearing many hats. 
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
      My switch from math to computer science also stems from my three internships at Microsoft Whiteboard, where I worked on enhancing the product's canvas and backend integration with Microsoft Teams. I was responsible for leveraging complicated affine transformations to develop a proper outline of the board's geometry feature, which further exposed me to the full-stack mindset when solving problems in software engineering. I also developed a feature to significantly simplify the workflow for Whiteboard users that came from Teams.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
      My interests do not stop at STEM, however, and often expand into topics in philosophy; public transit; constitutional law; ancient and medieval history; business management; and political theory. When I'm not at work, you'll see me playing basketball, reading anything I can get my hands on, learning languages, listening to Arabic music, or volunteering for cats or labor unions.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/ibrahimmohamed33/" target="_blank"> 
        Let's connect!
      </a>
      <a href="mailto:ibrahimemohamed@pm.me" target="_blank" class="btn btn-outline ml-5">
        Reach out via email
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Recent Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="UChicago Crime Logger"
    img="/uchicago_logo.webp"
    desc="Daily ETL that reads from incident reports to create a customized table with extra data points"
    url="#"
    badge="Data Engineering"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Complex Number Calculator"
    img="/complex_logo.webp"
    desc="Calculator useful for computing needed complex number formulas"
    url="https://github.com/ibrahimemohamed33/ComplexNumbers"
    badge="Math"
  />
  <div class="divider my-0"></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  {
    <container class="flex">
      <Image
        src={"/profile_2.webp"}
        width={400}
        height={600}
        alt="Image of me in the wild"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-4"
      />
      <Image
        src={"/profile_3.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-4"
      />
      <Image
        src={"/profile_5.webp"}
        width={400}
        height={600}
        alt="Image of me with cat"
        format="webp"
        class="max-w-full md:max-w-[13rem] mr-4"
      />
    </container>
  }
</BaseLayout>
